<%= form_for @poem do |f| %>

    <div class="field">
      <%= f.label :poem %><br>
      <%= f.text_field :poem %>
    </div>


    <div class="actions">
      <%= f.submit %>
    </div>


<% end %>